--[ 연습문제 ]
--1. student 테이블에서 각 학생의 이름, 학년, 전화번호 출력
--단, 전화번호는 국번이 마스킹 되도록 표시(02)6255-9875 -> 02)XXXX-9875) 
SELECT * 
FROM STUDENT

SELECT name, grade, tel, 
    CASE
        WHEN LENGTH(SUBSTR(tel, INSTR(tel, ')')+1, INSTR(tel, '-')-INSTR(tel, ')')-1)) = 3 THEN SUBSTR(tel, 1, INSTR(tel, ')')) || 'XXX' || SUBSTR(tel, INSTR(tel, '-'), 4)
        ELSE SUBSTR(tel, 1, INSTR(tel, ')')) || 'XXXX' || SUBSTR(tel, INSTR(tel, '-'), 4) END AS "tel2"
FROM STUDENT

--2. professor 테이블에서 id를 email 주소로 그대로 사용하지 않는 교수 출력
--예)
--captain -> captain@abc.net : 그대로 사용
--powerman -> pman@power.com : 그대로 사용하지 않음(출력대상)

SELECT *
FROM PROFESSOR

SELECT name, id, email
FROM PROFESSOR
WHERE SUBSTR(email, 1, INSTR(email, '@')-1) != id

--3. emp 테이블 데이터를 사용하여 아래 형식으로 출력(단, pivot/unpivot 사용금지)
--   10번_부서원수  20번_부서원수  30번_부서원수
--     3            5         6
SELECT *
FROM EMP

SELECT
    COUNT(DECODE(deptno, 10, 1)) AS "10번_부서원수",
    COUNT(DECODE(deptno, 20, 1)) AS "20번_부서원수",
    COUNT(DECODE(deptno, 30, 1)) AS "30번_부서원수"
FROM EMP
